php_flag output_buffering On

RewriteEngine on

#Rewrite rules
RewriteRule ^/ index.php
RewriteRule ^login login.php
RewriteRule ^signup signup.php
RewriteRule ^logout index.php?logout
RewriteRule ^user/([A-Za-z0-9-_]{3,17})$ index.php?user=$1
RewriteRule ^edit/profile index.php?edit-profile
RewriteRule ^([0-9])+/?$ index.php?forum=$1
RewriteRule ^([0-9])+/post/([0-9])+/?$ index.php?post=$2&forum=$1
RewriteRule ^([0-9])+/post/([0-9])+/edit-comment/([0-9])+/?$ index.php?post=$2&forum=$1&edit=$3
RewriteRule ^([0-9])+/post/([0-9])+/edit-post/([0-9])+/?$ index.php?post=$2&forum=$1&edit-post=$3
RewriteRule ^new/forum index.php?new-forum
RewriteRule ^new/post/([0-9])+$ index.php?new-post&forum=$1
RewriteRule ^leaderboards index.php?leaderboards
RewriteRule ^new/comment lib/forum/new-comment.php
RewriteRule ^delete/post lib/forum/delete-post.php
RewriteRule ^save/comment lib/forum/update-comment.php
RewriteRule ^save/post lib/forum/update-post.php

#Error 404 not found
ErrorDocument 404 /forum/404.php
