RewriteEngine on

#Rewrite rules
RewriteRule ^/ index.php
RewriteRule ^login login.php
RewriteRule ^signup signup.php
RewriteRule ^logout index.php?logout
RewriteRule ^user/([A-Za-z0-9]+)$ index.php?user=$1
RewriteRule ^edit/profile index.php?edit-profile
RewriteRule ^forum/([0-9])+$ index.php?forum=$1

#Error 404 not found
ErrorDocument 404 /aldan-forum/source/404.php
